.app{
    margin: 100px 0 100px 0;
    text-align: center;
}
.app_content{
    display: inline-block;
    padding: 10px;
    box-shadow: 0 2px 8px 2px rgba(141,150,178,.3);
    border-radius: 5px;
}
.user_action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.input_msg{
    width: 300px;
    padding: 5px;
    font-size: 15px;
    line-height: 20px;
    border: 3px solid #315efb;
}
.btn {
    display: flex;
    margin: 5px;
    padding: 10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: #315efb;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 2px 8px 2px rgba(141,150,178,.3);
    transform: scale(1.05);
}
.chat_view{
    display: flex;
    align-items: center;
    justify-content: center;

}
.chat_content {
    display: flex;
    flex-direction: column;
    width: 505px;
    height: 30vh;
    border: 3px solid #315efb;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.user_chat_msg {
    margin-bottom: 5px;
    padding: 5px;
    align-self: end;
    border: 3px solid #315efb;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    color: black;
}
.server_chat_msg {
    margin-bottom: 5px;
    padding: 5px;
    align-self: start;
    border: 3px solid #315efb;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    color: black;
}




