{% extends 'flatpages/default.html' %}
{% load custom_filters %}.

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости ({{paginator.count}})</h1>
    {% if category %}
            <h2>#{{category.name}}</h2>
            {% if is_not_subscribed %}
                <button><a href="{% url 'category_subscribe' category.id%}">Подписаться</a></button>
                <br><br>
            {% endif %}
    {% endif %}

    <div>
        <button><a href="{% url 'search' %}">Поиск</a></button>
        {% if is_author %}
            <button><a href="{% url 'post_create' %}">Добавить новый пост</a></button>
            <br><br>
        {% endif %}
    </div>




    {% for n in news %}
        <div>
            <a href="{% url 'news_detail' n.id %}">{{ n.title|censor }}</a>
            {{n.date|date:'d.m.Y'}} {{n.content|truncatechars:50|censor}}

            {% for cat in n.category.values %}
                <a href="{% url 'news_category' cat.id %}"> #{{cat.name}}</a>
            {% endfor %}

            {% if is_author and username == n.author.user.get_username %}
                <button><a href="{% url 'news_edit' n.id %}">Редактировать</a></button>
                <button><a href="{% url 'news_delete' n.id %}">Удалить</a></button>

            {% endif %}
        </div>
         <br>
    {% endfor %}



    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock content %}
