{% extends 'flatpages/default.html' %}
{% load custom_filters %}.
{% load custom_tags %}.

{% block title %}
News
{% endblock title %}

{% block content %}

    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>

    <h1>Все новости ({{filter.qs|length}})</h1>
    {% for object in paginated_response.object_list %}
        <a href="{% url 'news_detail' object.id %}">{{ object.title|censor }}</a>
        {{object.date|date:'d.m.Y'}} {{object.content|truncatechars:50|censor}}

        {% for cat in object.category.values %}
                <a href="{% url 'news_category' cat.id %}"> #{{cat.name}}</a>
        {% endfor %}
        <br>
    {% endfor %}

    {% if is_paginated %}

        {% if paginated_response.has_previous %}
            <a href="?{% param_replace page=1 %}">First</a>
        {% endif %}

        {% for num in paginated_response.paginator.page_range %}
            {% if paginated_response.number == num %}
                <a>{{ num }}</a>
            {% elif num > paginated_response.number|add:'-3' and num < paginated_response.number|add:'3' %}
                <a href="?{% param_replace page=num %}">{{ num }}</a>
            {% endif %}
        {% endfor %}


        {% if paginated_response.has_next %}
            <a href="?{% param_replace page=paginated_response.paginator.num_pages %}">Last</a>
        {% endif %}


    {% endif %}

{% endblock content %}
